body {
    background: #ABCDEF;
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 90vh;
  }
.login, .Proposal {
    color: white;
    background:  #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow: 
      0px 2px 10px rgba(0,0,0,0.2), 
      0px 10px 20px rgba(0,0,0,0.3), 
      0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 50px;
}
.head {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .msg{
    text-align: center;
    font-size: 2.2em;
  }

  .login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .login .form .password::placeholder {
    color: #D3D3D3;
  }
  
  .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
  }

.form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
  }

#proposal{
    /*width: 90%;*/
    align-items: center;
    min-width: 25%;
}

@media screen and (orientation: portrait) {
  #proposal{
    width: 98%;
  }

  .Proposal{
    padding: 10%;
  }
}

#frmProposal{
    position: relative;
    align-items: center;

}

#frmProposal .btn-login{
    position: relative;
    margin: 5px;
}
